.vscode
src/
testWorkspace/
tsconfig.json
tsconfig.remixview.json
tsconfig.extension.json
tailwind.config.js
.eslintrc.json
.gitignore
node_modules/**
!node_modules/solc/**
!node_modules/solc-wrapper/**
!node_modules/command-exists/**
!node_modules/commander/**
!node_modules/follow-redirects/**
!node_modules/js-sha3/**
!node_modules/memorystream/**
!node_modules/semver/**
!node_modules/tmp/**
!node_modules/os-tmpdir/**
!node_modules/ganache/**